.container-fluid-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem; /* Un pequeño espacio al borde derecho */
}
.navbar-nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Esto hace que el menú ocupe todo el espacio disponible */
}
.nav-logo, .nav-avatar {
    width: 40px;
}