.container-fluid-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}
.navbar-nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.nav-logo,
.nav-avatar {
  width: 38px;
}
.nav-link {
  color: #fff;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  font-family: "Arial", monospace;
}

.navbar-nav .nav-link.active {
  color: #ffffff !important;
  border-bottom: 2px solid #e9e8e7;
}

.foot {
  width: 52px;
  margin-left: 15px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
